# Application
APP_ENV=development
SECRET_KEY=bb8631adf41633ae0f69433d1a70ab8b4c79eba39239e0a7fa5a85148d27eccb
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Database
DATABASE_URL=postgresql://orisync_user:orisync_password@localhost:5432/orisync_db

# Webhook
WEBHOOK_TIMEOUT_SECONDS=10
WEBHOOK_MAX_RETRIES=3
WEBHOOK_RETRY_DELAY_SECONDS=60
